<div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
    <!-- Single Table -->
    <div class="single-table">
        <!-- Table Head -->
        <div class="table-head">
            <h4 class="title">Individual</h4>
            <p class="sub-title">Powerful & Awesome Elements</p>
            <div class="price">
                <h2 class="amount"><span class="currency">$</span>19<span class="duration">/month</span>
                </h2>
            </div>
        </div>
        <!-- End Table Head -->
        <!-- Start Table Content -->
        <div class="table-content">
            <!-- Table List -->
            <ul class="table-list">
                <li>Commercial License</li>
                <li>100+ HTML UI Elements</li>
                <li>01 Domain Support</li>
                <li class="disable">6 Month Premium Support</li>
                <li class="disable">Lifetime Updates</li>
            </ul>
            <!-- End Table List -->
        </div>
        <!-- End Table Content -->
        <div class="button">
            <a href="javascript:void(0)" class="btn">Start free trial <i
                    class="lni lni-arrow-right"></i></a>
        </div>
        <p class="no-card">No credit card required</p>
    </div>
    <!-- End Single Table-->
</div>