<div class="logo">
    <a href="index.html">
        <img src={{ url_for('static', filename="images/logo/white-logo.svg") }} alt="#">
    </a>
</div>
<p>Making the world a better place through constructing elegant hierarchies.</p>
<h4 class="social-title">Follow Us On:</h4>
<ul class="social">
    <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-pinterest"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
</ul>