<div class="contact-widget-wrapper">
    <div class="main-title">
        <h2>Services Available</h2>
        <p>Here is a brief list of what you can track here:</p>
    </div>
    <div class="contact-widget-block">
        <h3 class="title">Temperature</h3>
        <p><a href="{{ url_for("temperature_dashboard") }}">Go To Data</a></p>
    </div>

    <div class="contact-widget-block">
        <h3 class="title">Feeding Calculator</h3>
        <p><a href="{{ url_for("feeding_calc_dashboard") }}">Calculate Measurements</a></p>
    </div>
    <div class="contact-widget-block">
        <h3 class="title">Food and Water</h3>
        <p class="disabled"><a href="#">Currently Unavailable</a></p>
    </div>
</div>