<!-- Start Footer Top -->
<div class="footer-top">
    <div class="container">
        <div class="inner-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">

                    <!-- Single Widget -->
                    <div class="single-footer f-about">
                        {% block footer_left %}
                            {% include "base/sample_social_footer.html" %}
                        {% endblock %}
                    </div>
                    <!-- End Single Widget -->

                </div>
                <div class="col-lg-2 col-md-6 col-12">

                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        {% block footer_mid_left %}
                            {% include "base/sample_list_1.html" %}
                        {% endblock %}
                    </div>
                    <!-- End Single Widget -->

                </div>
                <div class="col-lg-2 col-md-6 col-12">

                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        {% block footer_mid_right %}
                            {% include "base/sample_list_2.html" %}
                        {% endblock %}
                    </div>
                    <!-- End Single Widget -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">

                    <!-- Single Widget -->
                    <div class="single-footer newsletter">
                        {% block footer_right %}
                            {% include "base/sample_subscription_box.html" %}
                        {% endblock %}
                    </div>
                    <!-- End Single Widget -->

                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Footer Top -->

<!-- Start Copyright Area -->
<div class="copyright-area">
    {% include "base/copyright.html" %}
</div>
<!-- End Copyright Area -->