<div class="nav-inner">
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename="images/logo/white-logo.svg") }}" alt="Logo">
        </a>

        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
            <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ url_for("home") }}" aria-label="Toggle navigation">Home</a>
                </li>
                <li class="nav-item"><a href="{{ url_for("temperature_dashboard") }}">Temperature</a></li>
                <li class="nav-item"><a href="{{ url_for("feeding_calc_dashboard") }}">Feeding Calc</a></li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
