{% extends "base/base.html" %}

{% block breadcrumbs %}
    <h1 class="page-title">Dev Box</h1>
    <ul class="breadcrumb-nav">
        <li>Welcome Home</li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Start Contact Area -->
    <div class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    {% include "home/services.html" %}
                </div>
                <div class="col-lg-6 col-12">
                    {% include "sample/sample_form.html" %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Start Google-map Area -->
    <div class="map-section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    {% include "sample/sample_map.html" %}

                </div>
            </div>
        </div>
    </div>
    <!-- End Google-map Area -->
{% endblock %}